<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registration Form</h1>
        <form id="registrationForm" action="/register" method="post" enctype="multipart/form-data">
            <label for="fullname">Fullname:</label>
            <input type="text" name="fullname" required>
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <br>
            <label for="dob">Date of Birth:</label>
            <input type="date" name="dob" required>
            <br>
            <label for="file">Choose a picture:</label>
            <input type="file" name="file" accept="image/*" required>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
