<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_view_users.css') }}">
</head>
<body>
    <div class="container">
        <h1>Users List</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fullname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Date of Birth</th>
                    <th>Picture</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.fullname}}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password}}</td>
                    <td>{{ user.dob}}</td>
                    <td><img src="{{ url_for('static', filename='uploads/' + user.picture_filename) }}" alt="User Picture"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Button to the right -->
        <div class="button-container">
            <a href="/" class="button">Go To Home</a>
        </div>
    </div>
</body>
</html>
